* {
    outline: 2px solid red;
}

body,
.header,
.content,
.footer,
.container,
.hero-text,
.information-items,
.information-item,
.call-to-action,
ul {
    display: flex;
}

body,
.content,
.hero-text {
    flex-direction: column;
}

body {
    min-height: 100vh;
    margin: 0;
    font-family: roboto, sans-serif;
    justify-content: space-between;
}

.header,
.footer {
    flex: 0;
}

.header,
.content,
.footer {
    justify-content: space-between;
    align-items: center;
}

.header,
.container,
.footer {
    padding: 16px 15vw;    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
}

.header,
.hero,
.footer {
    background-color: #1f2937;
}

.header-logo,
div.hero-text h1 {
    color: #f9faf8;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
}

div.hero-text h1 {
    font-size: 48px;
    font-weight: 900;
}

.header-links a,
div.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-text {
    flex: 1;
}

.hero-image {
    flex: 1;
}

div.hero-image img {
    width: 90%;
}

button {
    border-radius: 8px;
}

.content {
    flex-grow: 1;
    /* align-items: stretch; */
}

p {
    margin: 0;
}

.container {
    flex: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

img {
    object-fit: cover;
}

div.information-item img {
    width: 200px;
}

.white-border {
    border: 2px solid white;
}